.downLogoButton {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0;
}

.downLogo {
  animation: bouncingAnim 2s ease 0s infinite normal forwards;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 10;
  width: 120px;
}

.downLogo:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes bouncingAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
