.navFixed {
  height: 60px;
  width: 100%;
  border: 2px;
  position: fixed;
  top: 0px;
  background-color: whitesmoke;
  padding: 0 15px;
}

.navItemContainer {
  display: flex;
}

.navMenu {
  margin-left: 40px;
}

.navMenu > ul {
  display: flex;
  list-style: none;
}

.navLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMenu > ul > li {
  margin: 20px;
}

.main {
  margin-top: 60px;
}

.main > section {
  height: 100vh;
  width: 100vw;
}

.firstSection {
}

.firstSectionImgContainer {
  width: 100%;
  height: 100%;
}

.fullScreenImg {
  width: 100%;
  height: 100%;
}

.secondSection {
  background-color: cadetblue;
}

.thirdSection {
  background-color: azure;
}
