.logoutButton {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background-color: rgb(224, 242, 250);
}

.logoutButton:hover {
  background-color: rgb(209, 234, 253);
}
