.container {
  display: flex;
  align-items: stretch;
  background-color: #fff;
}

.leftSectionWrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-grow: 1;
}

.leftSection {
  width: 72px;
  height: 100dvh;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.leftSectionFixed {
  position: fixed;
  width: inherit;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftSectionFixed nav {
  flex: 1;
}

@media all and (min-width: 1300px) {
  .leftSection {
    width: 275px;
  }
  .leftSectionFixed {
    align-items: flex-start;
  }
}

.leftSectionFixed nav {
  flex: 1;
}

.leftSectionFixed nav li {
  list-style-type: none;
}

.postButton {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  background-color: rgb(253, 247, 250);
  /* width: 50px; */
  height: 50px;
}
.postButton:hover {
  background-color: rgb(192, 220, 239);
}

.rightSectionWrapper {
  display: flex;
  align-items: flex-start;
  height: 100dvh;
  flex-direction: column;
  flex-grow: 1;
}

.rightSection {
  display: none;
  background-color: rgb(143, 183, 183);
}

.rightSectionInner {
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: space-between;
  background-color: #f5cde7;
}

@media all and (min-width: 1024px) {
  .rightSection {
    display: inline-block;
    width: 350px;
    height: 100%;
    background-color: rgb(233, 233, 252);
  }
  .rightSectionInner {
    width: 990px;
    background-color: #f4f1dd;
  }
}

.main {
  width: 600px;
  background-color: aliceblue;
}
